text {
    font: 12px sans-serif;
}

html,
body {
    margin: 0 auto;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#graphDiv {
    width: 95%;
    height: 90%;
    position: relative;
    margin: 2%;
}

div.dygraph-axis-label-y{
    font-size: 80%;
}

form label {
    margin-left: 10px;
    font-size: 14;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: lowercase;
    vertical-align: middle;
}