<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body class='with-3d-shadow with-transitions'>
    <form id="query-form" method="POST" action="#">
        <label for="query-input">FB profile name</label>
        <input id="query-input" type="text"> </input>
        <input type="submit"></input>
    </form>

    <div id="chart">
        <svg></svg>
    </div>

    <style>
        text {
            font: 12px sans-serif;
        }
        html, body, #chart, svg{
            margin: 0 auto;
            padding: 0px;
            height: 100%;
            width: 100%;
        }
        #chart{
            width: 95%;
        }
        svg {
            display: block;
        }

        .nvd3 g.nv-groups path.nv-line {
              stroke-width: 1px;
        }
    </style>

    <script src="../static/js/d3.min.js"></script>
    <link href="../static/css/nv.d3.min.css" rel="stylesheet">
    <script src="../static/js/nv.d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

    <script type="text/javascript">
        $("#query-form").submit(e => {

            e.preventDefault();
            var query = $("#query-input").val();

            var statuses = [
                'active',
                'vc_74',
                'vc_0',
                'vc_8',
                'vc_10',
                'type',
            ]

            d3.csv(`data/${query}`, (error, data) => {
                if (error)
                    console.error(error);

                nv.addGraph(() => {

                    var chart = nv.models.multiChart()
                        .x(d => d.x)
                        .y(d => d.y)
                        .margin({left: 50, right: 50})
                        .color(d3.scale.category10().range());

                    var activityData = [{
                            key: "General Activity",
                            values: []
                        },
                        {
                            key: "Messenger Status",
                            values: []
                        },
                        {
                            key: "Web Status",
                            values: []
                        },
                        {
                            key: "FB App Status",
                            values: []
                        },
                        {
                            key: "Other Status",
                            values: []
                        },
                        {
                            key: "A/P Type",
                            values: []
                        }
                    ];

                    data.forEach(d => {
                        for (let i in statuses) {
                            activityData[i]["values"].push({
                                // Multiply by 1000 to get to millis okay then js.
                                x: new Date(Number(d["time"]) * 1000),
                                y: d[statuses[i]]
                            });
                            activityData[i]['type'] = 'line';
                            activityData[i]['yAxis'] = 1;
                        }
                    });

                    activityData[5]['type'] = 'scatter';
                    activityData[5]['yAxis'] = 2;

                    chart.xAxis.tickFormat(d => d3.time.format('%X')(new Date(d)));

                    var statusTypes = ["inactive", "active"];
                    var statusTypes2 = ["none", "p0", "p2", "a2"];

                    chart.yAxis1.tickFormat(val => statusTypes[val]);
                    chart.yAxis2.tickFormat(val => statusTypes2[val]);
                    chart.yAxis1.domain([0, 1]);
                    chart.yAxis2.domain([0, 3]);

                    d3.select("#chart svg")
                        .datum(activityData)
                        .transition().duration(500)
                        .call(chart);

                    nv.utils.windowResize(chart.update);

                    return chart;
                });
            });
        });
    </script>
</body>

</html>