<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
</head>

<body class='with-3d-shadow with-transitions'>
    <form id="query-form" method="POST" action="#">
        <label for="query-input">Profile name</label>
        <input id="query-input" type="text" required="true" />
        <label for="query-timespan">Timespan</label>
        <input id="query-timespan" type="number" value="3" required="true" />
        <select name="query-unit" id="query-unit">
            <option value="Day">Days</option>
            <option value="Hour">Hours</option>
            <option value="Minute">Minutes</option>
        </select>
        <input id="Search" type="submit" disabled="disabled" value="Search"></input>
    </form>

    <div id="graphDiv">
    </div>

    <link rel="stylesheet" href="../static/css/dygraph.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <script src="../static/js/dygraph.min.js"></script>
    <script type="text/javascript" src="../static/js/crosshair.js"></script>
    <script type="text/javascript" src="../static/js/main.js"></script>
</body>

</html>